{% extends "bootstrap.html" %}
{% block control %}
<div id="statemachine" style="text-align:center;"></div>
    <div id="data" class="container-fluid">
        <div id="" class="row ">
            <div class="col-4">
                <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">

                    <div id="tree">
                        <div class="treetop">Control tree</div>
                            <div id="treecontainer">
                                <div id="controlTree" class="demo"></div>
                            </div>

                    <!-- <div id="logArea" class="sb-sidenav-light  " style="width: 100%; position:relative; height:0px;">
                            <div id="logHead" class="navbar navbar-expand navbar-dark bg-dark" style="height: 40px;">
                                <h3 class="navbar-brand">Service log:</h3> &nbsp; &nbsp;
                                <div id="logFilterDiv" class="logFilterContainer logFilterDataContainer">
                                    <ul class="navbar-nav navbar-expand ml-auto ml-md-0">
                                        <li class="nav-item dropdown w-auto"  style="margin-left:auto">
                                            <a class="nav-link dropdown-toggle" id="mtypeDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Msg types</a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="mtypeDropdown">
                                                <ul id="filters">
                                                    <li><label>
                                                        <input type="radio"> test1
                                                    </label></li>
                                                    <li><label>
                                                        <input type="radio"> test2
                                                    </label></li>
                                                    <li><label>
                                                        <input type="radio"> test3
                                                    </label></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown w-auto"  style="margin-left:auto">
                                            <a class="nav-link dropdown-toggle" id="mtypeDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Source filter</a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="mtypeDropdown">
                                                <ul id="filters2">
                                                    <li><label>
                                                        <input type="radio"> test1
                                                    </label></li>
                                                    <li><label>
                                                        <input type="radio"> test2
                                                    </label></li>
                                                    <li><label>
                                                        <input type="radio"> test3
                                                    </label></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <button id="logShow" class="button">Hide</button>
                            </div>
                            <div id="logCont" style=" margin: 10px;">
                                <div id="logDiv" class="logContainer">
                                    <ul id="logList"></ul>
                                </div>
                            </div>
                    </div> -->

                    </div>
                </nav>
            </div>
            <div class="col-8">
                <main class="mainBlock">
                    <div id="name" class="mt-1 mb-1 treetop">Controls: </div>
                    <div id="detailPage" class="content default">
                        <div class="card mb-2">
                            <div class="row border-right border-left">
                                <div class="col-sm-6 float-left">
                                        <h4> State control buttons:</h4>
                                        <div id="stateButtonsDiv" class="stateButtons button-group">

                                        </div>
                                        <h5> Last response from nanorc:</h5>
                                        <pre id="json-renderer"></pre>
                                </div>
                                <div class="col-sm-4 float-left">
                                        <h4> Present state: </h4>
                                        <input type="text" id="state" class="form-control" value="" readonly>
                                        <h4> Runnumber: </h4>
                                        <input type="number" id="runnumber" class="form-control">
                                        <h4> Run type: </h4>
                                        <select id="runtype" class="form-control">
                                            <option value="TEST">Test</option>
                                            <option value="PROD">Prod</option>
                                        </select>
                                </div>
                            </div>
                            <hr class="mt-2 mb-3"/>
                            <br>
                            <div id="iframesector" class="row">
                                <h4 id="selected"> Selected: </h4>
                                <div class="col-md-12 bs-linebreak">
                                </div>
                                <table class="table">
                                    <thead class="thead">
                                      <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">State</th>
                                        <th scope="col">Host</th>
                                        <th scope="col">Last cmd</th>
                                        <th scope="col">Last succ. cmd</th>
                                      </tr>
                                    </thead>
                                    <tbody id="statustable">

                                    </tbody>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
{% endblock %}