#app-grid {
    layout: grid;
    grid-size: 5 4;
    grid-columns: 1fr;
    grid-rows: 1fr;
    grid-gutter: 1;
}

Button {
    width: 16;
    margin:1;
}
RunNumDisplay {
    border:hidden;
    margin:0;
    padding:0;
}
RunInfo {
    column-span:1;
    row-span:1;
    layout: vertical;
    margin:0;
    padding:0;
}

TitleBox{
    /* width: 30; */
}
#command {
    column-span: 4;
    row-span: 1
}

#log {
    column-span: 3;
    row-span: 3;
}

#tree {
    row-span: 3;
    column-span: 2;
}

#verticalbuttoncontainer {
    margin:0;
    padding:0;
    border: hidden;
    /* height:10% */
}

#verticalruninfo {
    margin:0;
    padding:0;
}

#verticallogs {
    height: 80%;
}

#verticaltree {
    height: 90%;
}

Screen {
    align: center middle;
    layers: below above;
}

#pop_up{
    layer: above;
    align: center middle;
    background: cadetblue;
    height: 50%;
    width: 50%;
}

Status{
    layout: horizontal
}

.container{
    margin: 1;
    border: wide dodgerblue
}

.horizontalbuttonscontainer{
    layout: horizontal;
    margin: 1;
    padding: 0;
    height: 4;
}

.redtextbox{
    /* margin: 1; */
    color: red;
}

.greentextbox{
    /* margin: 1; */
    color: green;
}