<!doctype html>
<html>
    <head>
        <title>nanorc web {{ title }}</title>
    </head>
    <body>
      <script>
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '{{ url_for('statusstream') }}');
        xhr.send();
        var xhr_log = new XMLHttpRequest();
        xhr_log.open('GET', '{{ url_for('taillog') }}');
        xhr_log.send();
        var position = 0;
        
        function handleNewData() {
            // the response text include the entire response so far
            // split the messages, then take the messages that haven't been handled yet
            // position tracks how many messages have been handled
            // messages end with a newline, so split will always show one extra empty message at the end
            var nanorcstatus = document.getElementById('nanorcstatus')
            const messages = xhr.responseText.split('<!-- separator -->');
            if (messages.length < 2) {
                return
            }
            const  message = messages[messages.length-2]
            // console.log(messages);
            nanorcstatus.innerHTML = message;
        }
        function handleNewLogData() {
            // the response text include the entire response so far
            // split the messages, then take the messages that haven't been handled yet
            // position tracks how many messages have been handled
            // messages end with a newline, so split will always show one extra empty message at the end
            var logelement = document.getElementById('logelement')
            const messages = xhr_log.responseText.split('<!-- separator -->');
            console.log(messages);
            var message = ""
            for (let i = messages.length-1; i < 0; i--) {
                message += messages[i] + "<br>";
            }
            logelement.innerHTML = message;
        }

        var timer;
        timer = setInterval(function() {
            // check the response for new data
            handleNewData();
            handleNewLogData();
            // stop checking once the response has ended
            if (xhr.readyState == XMLHttpRequest.DONE) {
                clearInterval(timer);
            }
        }, 1000);
      </script>

      <p>Top level config: <code>{{ top_level }}</code></p>
      <p>Current run: {{ run }}</p>
      <hr>
      <p>Last action: <code>{{ last_action }}</code></p>
      <hr>
      <p>
      {% for button in buttons %}
        {{ button|safe }}
      {% endfor %}
      </p>
      <hr>
      <div id='nanorcstatus'></div>
      <hr>
      <p>Logs:</p>
      <div id='logelement'></div>
      <hr>
    </body>
    <foot>
      User: {{ username }}
    </foot>
</html>
